{
  "mcpServers": {
    {{ if eq .profile "work" }},
    "atlassian": {
      "command": "{{ .chezmoi.homeDir }}/.wk/bin/wk-mcp",
      "args": ["atlassian"]
    },
    "github": {
      "command": "{{ .chezmoi.homeDir }}/.wk/bin/wk-mcp",
      "args": ["github"]
    }{{ end }}
  }
}
