args==0.1.0
astroid==2.0.4
autopep8==1.4.2
clint==0.5.1
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
nose==1.3.7
pbr==5.1.0
prompt-toolkit==1.0.14
pycodestyle==2.4.0
-e git+git@github.com:ekweible/dotfiles.git@master#egg=pydotfiles&subdirectory=pydotfiles
Pygments==2.2.0
PyInquirer==1.0.2
pylint==2.1.1
regex==2018.11.3
six==1.11.0
stevedore==1.30.0
virtualenv==16.1.0
virtualenv-clone==0.4.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
wrapt==1.10.11
