[submodule "Mackup"]
	path = Mackup
	url = git@github.com:ekweible/Mackup.git
    branch = main
[submodule "private"]
	path = private
	url = git@github.com:ekweible/dotfiles_private.git
    branch = workiva
