#!/usr/bin/env sh

{{ if eq .profile "work" -}}
# wk CLI
export PATH=$PATH:$HOME/.wk/bin
[ -f "$HOME/.wk/profile" ] && source "$HOME/.wk/profile"

# workiva-build-cli
export PATH=$PATH:/opt/workiva-build-cli/bin
{{- end }}
