[credential]
    helper = osxkeychain

[user]
    name = ekweible
    email = evan@weible.me
    signingkey = F2B4B87D2390CC45

[alias]
    br = branch
    co = checkout
    st = status

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[core]
    excludesfile = ~/.gitignore
    editor = cursor --wait

[apply]
    whitespace = nowarn

[difftool]
    prompt = false

[help]
    autocorrect = 1

[push]
    default = simple
    autoSetupRemote = true

[pull]
    ff = only
    autoSetupRemote = true

[fetch]
    prune = true

[commit]
    gpgsign = true

[gpg]
    program = gpg

{{ if eq .profile "work" -}}
# On work machines, no default URL rewriting
# (github.com uses work key by default)

# Directory-based account switching using includeIf

# Personal repositories
[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/Developer/me/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/github.com/ekweible/"]
    path = ~/.gitconfig-personal

# Work repositories
[includeIf "gitdir:~/Developer/git/work/"]
    path = ~/.gitconfig-work
# TODO: remove
[includeIf "gitdir:~/github.com/Workiva/"]
    path = ~/.gitconfig-work
{{- else -}}
# On personal machines, use personal key by default
[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = git://github.com/
    insteadOf = ssh://git@github.com/
{{- end }}
