encryption = "age"

[data]
    profile = "{{ .profile }}"
    hostname = "{{ .chezmoi.hostname }}"
    fullHostname = "{{ .chezmoi.fqdnHostname }}"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1mmzw6vdfzt7nz9mrklykzu77xea76ujac5zns25xt75us675fevsmu022p"
