{
  "$schema": "https://opencode.ai/config.json",
{{ if eq .profile "homeserver" -}}
  "server": {
    "hostname": "0.0.0.0",
    "mdns": true
  },
{{ end -}}
  "permission": {
    "bash": {
      "*": "ask",
      "brew list*": "allow",
      "cat *": "allow",
      "cat *.env": "deny",
      "cat *.env.*": "deny",
      "cat *.env.example": "allow",
      "cd*": "allow",
      "cp*": "allow",
      "echo*": "allow",
      "find*": "ask",
      "for*": "allow",
      "git*": "allow",
      "git push*": "ask",
      "grep*": "allow",
      "head*": "allow",
      "ls*": "allow",
      "man*": "allow",
      "mkdir *": "allow",
      "pwd*": "allow",
      "tail*": "allow",
      "which*": "allow"
    }
  },
  "mcp": {
    "playwriter": {
      "type": "local",
      "command": ["pnpm", "dlx", "playwriter@latest"],
      "environment": {
        "PLAYWRITER_AUTO_ENABLE": "1"
      },
      "enabled": true
    }
  }
}
