[user]
    name = GIT_AUTHOR_NAME
    email = GIT_AUTHOR_EMAIL
[credential]
    helper = osxkeychain
[alias]
    br = branch
    co = checkout
    st = status
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to suppress warning message
    default = simple
[commit]
    gpgsign = true
