#########
# MacOS #
#########
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


############
# Security #
############
id_rsa


###########
# Tooling #
###########
.vagrant/


#######
# VIM #
#######
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


#############
# JetBrains #
#############
.idea


#########
# Maven #
#########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


############
# Node, JS #
############
# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# JS dependency directories
bower_components
node_modules


########
# Dart #
########
.packages
.pub
packages


#########
# Tools #
#########
# GitHub Tools
.github_labels_auth.yaml
.release_notes_generator_github_auth
