#########
# MacOS #
#########
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


############
# Security #
############
id_rsa

###########
# Tooling #
###########
.vagrant/

# Coverage directory used by tools like istanbul
coverage

#######
# VIM #
#######
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

########
# IDEs #
########
.idea
.vscode
.settings

#########
# Maven #
#########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############
# Node, JS #
############
# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# JS dependency directories
bower_components
node_modules

########
# Dart #
########
.dart_tool
.packages
.pub
packages

##########
# Python #
##########
*.pyc


#########
# Tools #
#########
# GitHub Tools
.github_labels_auth.yaml
.release_notes_generator_github_auth
